Repository directus/next, pull requests merged in 2020-09, with the labels that each got.

#195 Fix the field template
  app/src/components/v-field-template/v-field-template.vue
  app/src/views/private/components/render-template/render-template.vue
Labels: App, Optimization, Tweak

#153 Add display template interface
  app/src/interfaces/display-template/index.ts
  app/src/interfaces/display-template/readme.md
Labels: App, New Feature

#215 Merge badge and tags display
  app/src/displays/badge/badge.vue
  app/src/displays/labels/index.ts
  app/src/displays/labels/labels.vue
  app/src/displays/tags/index.ts
  app/src/displays/tags/readme.md
  app/src/displays/tags/tags.story.ts
  app/src/displays/tags/tags.test.ts
  app/src/displays/tags/tags.vue
  app/src/lang/en-US/index.json
Labels: App, Optimization

#219 Rename presets title->bookmark
  api/src/database/seeds/system.yaml
  app/src/composables/use-preset/use-preset.ts
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/components/navigation.vue
  app/src/modules/collections/routes/browse.vue
  app/src/modules/settings/routes/presets/detail.vue
  app/src/stores/presets.ts
  app/src/types/presets.ts
Labels: API, App, Tweak

#139 Add rate limiter
  api/.prettierrc
  api/README.md
  api/example.env
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/cli/commands/init/questions.ts
  api/src/cli/utils/create-db-connection.ts
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/cli/utils/create-env/index.ts
  api/src/controllers/auth.ts
  api/src/controllers/files.ts
  api/src/controllers/permissions.ts
  api/src/controllers/users.ts
  api/src/controllers/utils.ts
  api/src/database/seeds/system.yaml
  api/src/env.ts
  api/src/exceptions/forbidden.ts
  api/src/exceptions/hit-rate-limit.ts
  api/src/exceptions/index.ts
  api/src/exceptions/service-unavailable.ts
  api/src/logger.ts
  api/src/middleware/cors.ts
  api/src/middleware/error-handler.ts
  api/src/middleware/rate-limiter.ts
  api/src/server.ts
  api/src/services/authentication.ts
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/items.ts
  api/src/services/payload.ts
  api/src/services/server.ts
  api/src/services/users.ts
  api/src/services/utils.ts
  api/src/storage.ts
  api/src/types/permissions.ts
  api/src/utils/deep-map.ts
  api/src/utils/get-config-from-env.ts
  api/src/utils/parse-filter.ts
  api/src/utils/validate-env.ts
  api/tsconfig.json
  api/tslint.json
Labels: API, New Feature

#151 Feature redis cache
  api/example.env
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/cache.ts
  api/src/cli/utils/create-env/env-stub.liquid
  api/src/controllers/activity.ts
  api/src/controllers/assets.ts
  api/src/controllers/auth.ts
  api/src/controllers/collections.ts
  api/src/controllers/extensions.ts
  api/src/controllers/fields.ts
  api/src/controllers/files.ts
  api/src/controllers/folders.ts
  api/src/controllers/items.ts
  api/src/controllers/permissions.ts
  api/src/controllers/presets.ts
  api/src/controllers/relations.ts
  api/src/controllers/revisions.ts
  api/src/controllers/roles.ts
  api/src/controllers/server.ts
  api/src/controllers/settings.ts
  api/src/controllers/users.ts
  api/src/controllers/webhooks.ts
  api/src/env.ts
  api/src/middleware/cache.ts
  api/src/middleware/rate-limiter.ts
  api/src/middleware/respond.ts
  api/src/middleware/sanitize-query.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/items.ts
  api/src/services/users.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-cache-key.ts
  app/src/components/v-modal/v-modal.vue
  app/src/modules/settings/routes/data-model/field-detail/components/schema.vue
Labels: API, New Feature

#221 Added missing default values
  app/src/displays/collection/index.ts
  app/src/displays/datetime/index.ts
  app/src/displays/formatted-value/index.ts
  app/src/displays/icon/index.ts
  app/src/displays/image/index.ts
  app/src/displays/mime-type/index.ts
  app/src/displays/rating/index.ts
  app/src/displays/user/index.ts
  app/src/interfaces/divider/index.ts
  app/src/interfaces/markdown/index.ts
  app/src/interfaces/tags/index.ts
  app/src/lang/en-US/displays.json
Labels: App

#199 Add basic format response manager
  api/package-lock.json
  api/package.json
  api/src/controllers/assets.ts
  api/src/middleware/respond.ts
  api/src/middleware/sanitize-query.ts
  api/src/types/query.ts
Labels: API, New Feature

#231 m2m fix option missing and junction primaryField selectable
  app/src/interfaces/many-to-many/index.ts
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
Labels: App, Bug

#240 fix datetime emiting without changes
  app/src/interfaces/datetime/datetime.vue
Labels: App, Bug

#248 fix dropdown rendering before overly
  app/src/components/v-overlay/v-overlay.vue
Labels: App

#276 Add csv special type, return type based on special flag
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/types/field.ts
  api/src/utils/get-local-type.ts
Labels: API, New Feature

#278 Move system interfaces
  app/src/interfaces/_system/display-template/display-template.vue
  app/src/interfaces/_system/display-template/index.ts
  app/src/interfaces/_system/display-template/readme.md
  app/src/interfaces/_system/field/field.vue
  app/src/interfaces/_system/field/index.ts
  app/src/interfaces/_system/interface-options/index.ts
  app/src/interfaces/_system/interface-options/interface-options.vue
  app/src/interfaces/_system/interface/index.ts
  app/src/interfaces/_system/interface/interface.vue
  app/src/interfaces/_system/system-language/index.ts
  app/src/interfaces/_system/system-language/system-language.vue
  app/src/interfaces/_system/tfa-setup/index.ts
  app/src/interfaces/_system/tfa-setup/tfa-setup.vue
Labels: App, Optimization

#275 fix dropdown closing when clicked inside
  app/src/interfaces/color/color.vue
Labels: App, Bug

#273 Hide too many checkboxes
  app/src/components/v-detail/readme.md
  app/src/components/v-detail/v-detail.vue
  app/src/interfaces/checkboxes/checkboxes.vue
  app/src/interfaces/checkboxes/index.ts
  app/src/lang/en-US/interfaces.json
Labels: App, New Feature

#279 Webhooks
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/controllers/folders.ts
  api/src/controllers/permissions.ts
  api/src/controllers/presets.ts
  api/src/controllers/relations.ts
  api/src/controllers/revisions.ts
  api/src/controllers/roles.ts
  api/src/controllers/users.ts
  api/src/controllers/webhooks.ts
  api/src/database/seeds/system.yaml
  api/src/emitter.ts
  api/src/services/fields.ts
  api/src/services/items.ts
  api/src/services/webhooks.ts
  api/src/types/index.ts
  api/src/types/webhooks.ts
  app/src/interfaces/_system/collection/collection.vue
  app/src/interfaces/_system/collection/index.ts
  app/src/interfaces/_system/collections/collections.vue
  app/src/interfaces/_system/collections/index.ts
  app/src/lang/en-US/index.json
  app/src/lang/en-US/interfaces.json
  app/src/modules/collections/index.ts
  app/src/modules/settings/routes/webhooks/browse.vue
  app/src/types/fields.ts
  app/src/utils/get-default-interface-for-type/get-default-interface-for-type.ts
Labels: API, App, New Feature

#284 fix repeater row not opening when created
  app/src/interfaces/repeater/repeater.vue
Labels: App, Tweak

#288 Add form grid mixin
  app/src/components/v-form/v-form.vue
  app/src/interfaces/repeater/options.vue
  app/src/styles/mixins/form-grid.scss
Labels: App, Tweak

#289 Generate related
  api/src/controllers/fields.ts
  api/src/middleware/error-handler.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  app/src/components/v-list/v-list-item-content.vue
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/styles/_tooltip.scss
Labels: App, New Feature

#291 change icon after opening detail
  app/src/components/v-detail/v-detail.vue
Labels: App, Tweak

#292 Change default value of placeholder to "Enabled"
  app/src/interfaces/toggle/index.ts
  app/src/lang/en-US/interfaces.json
Labels: App, Tweak

#294 fix focus border and custom formats
  app/src/interfaces/code/code.vue
  app/src/interfaces/wysiwyg/index.ts
  app/src/interfaces/wysiwyg/tinymce-overrides.css
  app/src/interfaces/wysiwyg/wysiwyg.vue
Labels: App, Tweak

#297 Fix slider fill not set properly on value null
  app/src/components/v-slider/v-slider.vue
Labels: App, Bug

#296 Relational setup tweaks
  api/src/services/collections.ts
  app/src/auth.ts
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, New Feature, Tweak

#300 Add csv to interfaces fix icon alignment and icon
  app/src/displays/icon/index.ts
  app/src/interfaces/checkboxes/index.ts
  app/src/interfaces/dropdown-multiselect/index.ts
  app/src/interfaces/icon/icon.vue
  app/src/interfaces/tags/index.ts
  app/src/modules/settings/routes/data-model/field-detail/components/interface.vue
Labels: App, Tweak

#303 Add boolean display
  app/src/displays/boolean/boolean.vue
  app/src/displays/boolean/index.ts
  app/src/interfaces/toggle/index.ts
  app/src/lang/en-US/displays.json
Labels: App, New Feature

#310 Add export drawer detail, fix search
  app/.storybook/mock-data/collections.json
  app/.storybook/mock-data/fields.json
  app/src/composables/use-preset/types.ts
  app/src/composables/use-preset/use-preset.ts
  app/src/lang/en-US/index.json
  app/src/modules/collections/routes/browse.vue
  app/src/stores/presets.ts
  app/src/types/presets.ts
  app/src/views/private/components/export-drawer-detail/export-drawer-detail.vue
  app/src/views/private/components/export-drawer-detail/index.ts
Labels: App, New Feature

#311 Save app required permissions on role creation
  api/src/database/seeds/system.yaml
  api/src/services/roles.ts
  app/src/modules/settings/routes/roles/add-new.vue
  app/src/modules/settings/routes/roles/app-required-permissions.ts
Labels: API, App, New Feature

#312 Pull in custom interfaces from the API
  api/.gitignore
  api/src/controllers/extensions.ts
  api/src/services/extensions.ts
  app/src/displays/register.ts
  app/src/hydrate.ts
  app/src/interfaces/register.ts
  app/src/layouts/index.ts
  app/src/layouts/register.ts
  app/src/main.ts
  app/src/modules/register.ts
  app/src/modules/settings/routes/presets/browse/browse.vue
  app/src/modules/settings/routes/presets/detail.vue
  app/src/views/private/components/layout-drawer-detail/layout-drawer-detail.vue
Labels: API, App, New Feature

#272 Move color-dot option to labels
  app/package-lock.json
  app/package.json
  app/src/displays/color-dot/color-dot.vue
  app/src/displays/color-dot/index.ts
  app/src/displays/color/color.vue
  app/src/displays/color/index.ts
  app/src/displays/labels/index.ts
  app/src/displays/labels/labels.vue
  app/src/lang/en-US/displays.json
  app/src/styles/themes/_dark.scss
Labels: App, New Feature

#301 Added editRaw option to fields
  app/src/components/v-form/form-field-menu.vue
  app/src/components/v-form/form-field.vue
  app/src/lang/en-US/index.json
  app/src/utils/get-js-type.ts
Labels: App, New Feature

#320 fix markdown highlighting
  app/src/interfaces/markdown/markdown.vue
Labels: App

#304 Added case and space-replace prop to tags interface
  app/src/interfaces/tags/index.ts
  app/src/interfaces/tags/tags.vue
  app/src/lang/en-US/interfaces.json
Labels: App, New Feature

#357 fixed boolean, color display and repeater options
  api/package-lock.json
  app/src/displays/boolean/boolean.vue
  app/src/interfaces/color/index.ts
  app/src/interfaces/repeater/options.vue
  app/src/lang/en-US/displays.json
Labels: App, Tweak

#358 use lib instead of own functions
  app/src/displays/color/color.vue
  app/src/interfaces/color/color.vue
  app/src/styles/themes/_light.scss
  app/src/utils/color/index.ts
Labels: App, Optimization

#359 Fall back to modal instead of dropdown if totalCount null
  app/src/interfaces/many-to-one/many-to-one.vue
Labels: App, Tweak

#372 amended collections def so field length is 64 chars
  api/src/database/seeds/01-tables/01-collections.yaml
Labels: DB: SQL Server

#404 Custom extensions api
  api/src/app.ts
  api/src/cache.ts
  api/src/cli/commands/database/migrate.ts
  api/src/cli/index.ts
  api/src/controllers/activity.ts
  api/src/controllers/assets.ts
  api/src/controllers/auth.ts
  api/src/controllers/collections.ts
  api/src/controllers/extensions.ts
  api/src/controllers/fields.ts
  api/src/controllers/files.ts
  api/src/controllers/folders.ts
  api/src/controllers/items.ts
  api/src/controllers/permissions.ts
  api/src/controllers/presets.ts
  api/src/controllers/relations.ts
  api/src/controllers/revisions.ts
  api/src/controllers/roles.ts
  api/src/controllers/server.ts
  api/src/controllers/settings.ts
  api/src/controllers/users.ts
  api/src/controllers/utils.ts
  api/src/controllers/webhooks.ts
  api/src/database/migrations/run.ts
  api/src/database/run-ast.ts
  api/src/database/seeds/run.ts
  api/src/emitter.ts
  api/src/extensions.ts
  api/src/middleware/respond.ts
  api/src/middleware/sanitize-query.ts
  api/src/services/activity.ts
  api/src/services/assets.ts
  api/src/services/authentication.ts
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/extensions.ts
  api/src/services/fields.ts
  api/src/services/files.ts
  api/src/services/folders.ts
  api/src/services/index.ts
  api/src/services/items.ts
  api/src/services/meta.ts
  api/src/services/payload.ts
  api/src/services/permissions.ts
  api/src/services/presets.ts
  api/src/services/relations.ts
  api/src/services/revisions.ts
  api/src/services/roles.ts
  api/src/services/server.ts
  api/src/services/settings.ts
  api/src/services/users.ts
  api/src/services/utils.ts
  api/src/services/webhooks.ts
  api/src/types/extensions.ts
  api/src/types/index.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-cache-key.ts
  api/src/utils/track.ts
  docs/guides/extensions/creating-a-custom-api-endpoint.md
  docs/guides/extensions/creating-a-custom-api-hook.md
Labels: API

#396 Tweaked label display and a few translations
  app/src/displays/labels/index.ts
  app/src/interfaces/_system/interface/interface.vue
  app/src/interfaces/checkboxes/index.ts
  app/src/interfaces/color/index.ts
  app/src/interfaces/dropdown-multiselect/index.ts
  app/src/interfaces/dropdown/index.ts
  app/src/interfaces/repeater/options.vue
  app/src/lang/en-US/displays.json
  app/src/lang/en-US/interfaces.json
Labels: App, Tweak

#412 Add `deep` query param support
  api/src/database/run-ast.ts
  api/src/middleware/sanitize-query.ts
  api/src/types/query.ts
  api/src/utils/get-ast-from-query.ts
Labels: API, New Feature

#413 Rename last_login to last_access, track on api use
  api/src/database/seeds/01-tables/03-users.yaml
  api/src/middleware/authenticate.ts
Labels: API

#282 Adds a v-field-select component
  app/src/components/register.ts
  app/src/components/v-chip/v-chip.vue
  app/src/components/v-field-select/index.ts
  app/src/components/v-field-select/readme.md
  app/src/components/v-field-select/v-field-select.vue
  app/src/components/v-field-template/field-list-item.vue
  app/src/components/v-field-template/types.ts
  app/src/composables/use-field-tree/use-field-tree.ts
  app/src/interfaces/many-to-many/index.ts
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/one-to-many/index.ts
  app/src/interfaces/one-to-many/options.vue
  app/src/lang/en-US/index.json
  app/src/lang/en-US/interfaces.json
  app/src/modules/settings/routes/data-model/field-detail/components/interface.vue
Labels: App, New Feature

#287 suggest fields on m2o
  api/src/database/run-ast.ts
  app/src/components/v-field-template/field-list-item.vue
  app/src/components/v-field-template/v-field-template.vue
  app/src/composables/use-field-tree/index.ts
  app/src/composables/use-field-tree/use-field-tree.ts
  app/src/interfaces/many-to-one/index.ts
  app/src/interfaces/many-to-one/options.vue
  app/src/stores/relations.ts
Labels: App, New Feature

#295 Add missing chooseFromLib and loadFromUrl options in modal
  app/src/components/v-upload/v-upload.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/files/files.vue
  app/src/interfaces/image/image.vue
  app/src/modules/files/routes/add-new.vue
Labels: App, New Feature

#423 Translation updates
  api/src/services/fields.ts
  app/src/components/v-list/v-list-item.vue
  app/src/interfaces/translations/translations.vue
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/field-detail/components/translations.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/data-model/get-local-type.ts
Labels: App, New Feature

#436 Add markdown Docs
  app/.editorconfig
  app/package-lock.json
  app/package.json
  app/src/lang/en-US/index.json
  app/src/modules/docs/components/navigation-item.vue
  app/src/modules/docs/components/navigation.vue
  app/src/modules/docs/components/sections.ts
  app/src/modules/docs/index.ts
  app/src/modules/docs/routes/docs.vue
  app/src/modules/docs/routes/markdown.vue
Labels: App, New Feature

#438 DateTime overhaul
  api/package-lock.json
  api/package.json
  api/src/services/fields.ts
  api/src/services/payload.ts
  api/src/types/field.ts
  api/src/utils/get-local-type.ts
  app/package-lock.json
  app/src/displays/datetime/datetime.vue
  app/src/interfaces/datetime/datetime.story.ts
  app/src/interfaces/datetime/datetime.vue
  app/src/interfaces/datetime/index.ts
Labels: API, App, Bug

#440 Fix field name not shown on repeater
  app/src/interfaces/repeater/options.vue
Labels: App, Tweak

#445 Surface required in app
  api/src/exceptions/failed-validation.ts
  api/src/services/authorization.ts
  api/src/services/items.ts
  api/src/utils/generate-joi.ts
  api/src/utils/test.ts
  app/src/components/v-form/form-field-label.vue
  app/src/lang/en-US/index.json
Labels: API, App, New Feature

#415 Tweak shortcuts
  app/src/components/v-dialog/v-dialog.vue
  app/src/components/v-pagination/v-pagination.vue
  app/src/components/v-table/v-table.vue
  app/src/composables/use-shortcut/readme.md
  app/src/composables/use-shortcut/use-shortcut.ts
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/layouts/tabular/tabular.vue
  app/src/modules/collections/routes/detail.vue
  app/src/modules/files/routes/detail.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/users/routes/detail.vue
  app/src/views/private/components/comments-drawer-detail/comment-input.vue
Labels: App, New Feature, Tweak

#455 match <p></p> when inserting hint
  app/src/modules/docs/routes/markdown.vue
Labels: App, Tweak

#460 fix markdown in tips not rendering
  app/src/modules/docs/routes/markdown.vue
Labels: App, Tweak

#461 remove empty paragraphs arround tip
  app/src/modules/docs/routes/markdown.vue
Labels: App, Tweak
