Repository directus/next, pull requests merged in 2020-08, with the labels that each got.

#27 Startup check
  api/example.env
  api/src/app.ts
  api/src/cli/commands/start.ts
  api/src/database/index.ts
  api/src/env.ts
  api/src/mail/index.ts
  api/src/middleware/authenticate.ts
  api/src/middleware/error-handler.ts
  api/src/routes/auth.ts
  api/src/routes/files.ts
  api/src/server.ts
  api/src/services/authentication.ts
  api/src/services/extensions.ts
  api/src/services/payload.ts
  api/src/services/users.ts
  api/src/storage.ts
  api/src/utils/get-email-from-profile.ts
  api/src/utils/get-grant-config.ts
Labels: API, New Feature

#28 Fix admin app not returned from api
  api/src/app.ts
  app/package.json
Labels: API, Bug

#32 User track page
  api/src/routes/items.ts
  api/src/routes/users.ts
  api/src/services/items.ts
  app/src/stores/user/user.ts
Labels: API, App, New Feature

#35 Cleanup files service
  api/example.env
  api/src/database/seeds/system.yaml
  api/src/routes/files.ts
  api/src/services/files.ts
  api/src/types/files.ts
Labels: API, Optimization

#52 Default nullable to YES on field creation with nullable omitted
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/items.ts
Labels: API, Bug

#54 Cascade deletion of collection across activity / revisions / presets
  api/src/services/collections.ts
Labels: API, Bug, DB: MySQL

#55 Use correct secondary style for cancel button
  app/src/modules/settings/routes/data-model/collections/components/new-collection/new-collection.vue
Labels: App, Bug

#56 Return reactive authenticated flag on login
  app/src/routes/login/components/continue-as/continue-as.vue
  app/src/routes/login/login.vue
Labels: App, Bug

#57 Rehydrate relations on field creation
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
Labels: App, Bug

#58 Navigate to empty route before logging
  app/src/router.ts
  app/src/routes/logout/index.ts
  app/src/routes/logout/logout.vue
Labels: App, Bug

#61 Change collection setup to childroute
  app/src/modules/collections/routes/overview/overview.vue
  app/src/modules/settings/index.ts
  app/src/modules/settings/routes/data-model/collections/collections.vue
  app/src/modules/settings/routes/data-model/collections/components/new-collection/index.ts
  app/src/modules/settings/routes/data-model/fields/components/fields-management/fields-management.vue
  app/src/modules/settings/routes/data-model/index.ts
  app/src/modules/settings/routes/data-model/new-collection/index.ts
  app/src/modules/settings/routes/data-model/new-collection/new-collection.vue
Labels: Bug, Optimization, Tweak

#62 Fix o2m relational field setup
  app/src/modules/settings/routes/data-model/field-detail/store.ts
Labels: App, Bug

#63 fix tooltip showing when element is deleted
  app/src/directives/tooltip/tooltip.ts
Labels: App, Bug

#64 Drawer close
  app/src/directives/tooltip/tooltip.ts
  app/src/views/private/components/drawer-detail/drawer-detail.vue
  app/src/views/private/private-view.vue
Labels: App, Bug

#70 Group navigation
  api/src/database/seeds/system.yaml
  app/src/interfaces/file/file.vue
  app/src/layouts/cards/cards.vue
  app/src/layouts/tabular/tabular.vue
  app/src/modules/collections/index.ts
  app/src/modules/files/components/navigation/navigation-folder.vue
  app/src/modules/files/components/navigation/navigation.vue
  app/src/modules/files/index.ts
  app/src/modules/files/routes/browse/browse.vue
  app/src/modules/settings/routes/webhooks/browse/browse.vue
  app/src/modules/users/components/navigation/navigation.vue
  app/src/modules/users/index.ts
  app/src/modules/users/routes/browse/browse.vue
  app/src/views/private/components/modal-browse/modal-browse.vue
Labels: Bug

#71 Fix search
  api/src/database/run-ast.ts
Labels: Bug

#72 Add event emitter, refresh files browse on upload
  app/package-lock.json
  app/package.json
  app/src/events.ts
  app/src/layouts/cards/components/card.vue
  app/src/modules/files/routes/browse/browse.vue
  app/src/views/private/private-view.vue
Labels: Bug

#88 Permissions me
  api/package-lock.json
  api/package.json
  api/src/middleware/authenticate.ts
  api/src/routes/permissions.ts
Labels: New Feature

#121 Activity nav
  app/src/lang/en-US/index.json
  app/src/modules/activity/components/navigation/navigation.vue
  app/src/modules/activity/index.ts
  app/src/modules/activity/routes/browse/browse.vue
Labels: App

#138 Add TFA support
  api/package-lock.json
  api/package.json
  api/src/controllers/auth.ts
  api/src/controllers/users.ts
  api/src/services/authentication.ts
  api/src/services/users.ts
Labels: API, New Feature

#134 Add markdown interface
  app/src/interfaces/index.ts
  app/src/interfaces/markdown/demo.md
  app/src/interfaces/markdown/index.ts
  app/src/interfaces/markdown/markdown.story.ts
  app/src/interfaces/markdown/markdown.test.ts
  app/src/interfaces/markdown/markdown.vue
  app/src/interfaces/markdown/readme.md
  app/src/lang/en-US/index.json
Labels: App, New Feature

#164 TFA setup flow
  api/package-lock.json
  api/src/controllers/users.ts
  api/src/database/seeds/system.yaml
  api/src/services/users.ts
  app/package-lock.json
  app/package.json
  app/src/components/v-checkbox/v-checkbox.story.ts
  app/src/components/v-checkbox/v-checkbox.vue
  app/src/components/v-input/v-input.vue
  app/src/components/v-switch/v-switch.story.ts
  app/src/interfaces/index.ts
  app/src/interfaces/tfa-setup/index.ts
  app/src/interfaces/tfa-setup/tfa-setup.vue
  app/src/interfaces/types.ts
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/field-detail/components/interface.vue
Labels: App, New Feature

#165 Use updated errors output format
  api/src/exceptions/base.ts
  api/src/exceptions/index.ts
  api/src/exceptions/invalid-otp.ts
  api/src/middleware/error-handler.ts
  api/src/services/authentication.ts
Labels: Tweak

#166 Use new error structure, show otp field on login
  app/src/api.ts
  app/src/components/v-error/v-error.vue
  app/src/lang/en-US/index.json
  app/src/lang/index.ts
  app/src/routes/login/components/login-form/login-form.vue
Labels: App, Tweak

#175 Repeater options
  api/package-lock.json
  api/package.json
  app/src/components/v-form/form-field-interface.vue
  app/src/components/v-form/v-form.vue
  app/src/composables/use-form-fields/use-form-fields.ts
  app/src/interfaces/index.ts
  app/src/interfaces/interface-options/index.ts
  app/src/interfaces/interface-options/interface-options.vue
  app/src/interfaces/interface/index.ts
  app/src/interfaces/interface/interface.vue
  app/src/interfaces/register.ts
  app/src/interfaces/repeater/index.ts
  app/src/interfaces/repeater/options.vue
  app/src/interfaces/types.ts
  app/src/modules/settings/routes/data-model/field-detail/components/interface.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select/field-select.vue
Labels: App
