Repository directus/next, pull requests merged in 2020-10, with the labels that each got.

#481 Add defaultSection and change title shown
  app/src/modules/docs/components/sections.ts
  app/src/modules/docs/index.ts
  app/src/modules/docs/routes/docs.vue
Labels: App, Tweak

#517 Specs: add index.js to files
  packages/spec/package.json
Labels: Bug, Tweak

#520 Show icons in layout select
  app/src/components/v-select/v-select.vue
  app/src/views/private/components/layout-drawer-detail/layout-drawer-detail.vue
Labels: App, New Feature

#521 Fix keyUp events not triggered on mac
  app/src/composables/use-shortcut/use-shortcut.ts
Labels: App, Tweak

#546 Fixes field being readonly when creating a new one.
  app/src/components/v-form/v-form.vue
Labels: App, Bug

#547 Fix back button opening modal
  app/src/modules/collections/routes/detail.vue
  app/src/modules/files/routes/detail.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/users/routes/detail.vue
Labels: App, Bug

#548 Add fallback template when none is set
  app/src/interfaces/repeater/repeater.vue
Labels: App, Bug, Tweak

#452 Dynamic OAS generation.
  api/package.json
  api/src/controllers/server.ts
  api/src/services/index.ts
  api/src/services/relations.ts
  api/src/services/specifications.ts
Labels: API, New Feature

#494 Added subdued and tweak dense prop
  app/src/components/register.ts
  app/src/components/v-divider/v-divider.story.ts
  app/src/components/v-field-select/v-field-select.vue
  app/src/components/v-field-template/v-field-template.vue
  app/src/components/v-form/form-field-menu.vue
  app/src/components/v-list/index.ts
  app/src/components/v-list/readme.md
  app/src/components/v-list/v-list-item-content.vue
  app/src/components/v-list/v-list-item-hint.vue
  app/src/components/v-list/v-list-item-icon.vue
  app/src/components/v-list/v-list-item-subtitle.vue
  app/src/components/v-list/v-list-item-text.vue
  app/src/components/v-list/v-list-item.vue
  app/src/components/v-list/v-list.story.ts
  app/src/components/v-list/v-list.test.ts
  app/src/components/v-list/v-list.vue
  app/src/components/v-select/v-select.test.ts
  app/src/components/v-select/v-select.vue
  app/src/components/v-tabs/v-tabs.vue
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/file/file.vue
  app/src/interfaces/many-to-one/many-to-one.vue
  app/src/interfaces/user/user.vue
  app/src/layouts/cards/components/header.vue
  app/src/modules/activity/components/navigation.vue
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/components/navigation.vue
  app/src/modules/docs/components/navigation-item.vue
  app/src/modules/docs/components/navigation.vue
  app/src/modules/files/components/folder-picker.vue
  app/src/modules/files/components/navigation-folder.vue
  app/src/modules/files/components/navigation.vue
  app/src/modules/settings/components/navigation.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
  app/src/modules/settings/routes/data-model/field-detail/components/languages.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-o2m.vue
  app/src/modules/settings/routes/data-model/field-detail/components/translations.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/components/fields-management.vue
  app/src/modules/settings/routes/roles/detail/components/permissions-overview-toggle.vue
  app/src/modules/users/components/navigation.vue
  app/src/views/private/components/comments-drawer-detail/comment-item-header.vue
  app/src/views/private/components/filter-drawer-detail/field-filter.vue
  app/src/views/private/components/filter-drawer-detail/filter-drawer-detail.vue
  app/src/views/private/components/image-editor/image-editor.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-modal-picker.vue
  app/src/views/private/components/save-options/save-options.vue
Labels: App, New Feature, Tweak

#564 Add border on low contrast to color interface
  app/src/interfaces/color/color.vue
Labels: App, Tweak

#565 Change color of button when deleting field and collection
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Tweak

#567 Fix code highlighting in docs
  app/src/modules/docs/routes/markdown.vue
Labels: App, Bug

#569 Fix back arrow in folder
  app/src/modules/files/routes/detail.vue
Labels: App, Bug

#563 Add type field to repeater
  app/src/interfaces/_system/interface/interface.vue
  app/src/interfaces/repeater/options.vue
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/field-detail/components/schema.vue
Labels: App, New Feature

#397 Add Api Reference into Directus
  app/package.json
  app/src/components/v-list/v-list-item-hint.vue
  app/src/components/v-select/v-select.vue
  app/src/components/v-tabs/v-tab/v-tab.vue
  app/src/displays/related-values/related-values.vue
  app/src/interfaces/markdown/markdown.vue
  app/src/interfaces/user/user.vue
  app/src/lang/en-US/index.json
  app/src/modules/docs/components/navigation-item.vue
  app/src/modules/docs/components/navigation.vue
  app/src/modules/docs/components/sections.ts
  app/src/modules/docs/components/specs.ts
  app/src/modules/docs/index.ts
  app/src/modules/docs/routes/api/api.vue
  app/src/modules/docs/routes/api/components/container.vue
  app/src/modules/docs/routes/api/components/example.ts
  app/src/modules/docs/routes/api/components/index.ts
  app/src/modules/docs/routes/api/components/parameter.vue
  app/src/modules/docs/routes/api/components/reference.ts
  app/src/modules/docs/routes/api/components/reference.vue
  app/src/modules/docs/routes/api/components/request.vue
  app/src/modules/docs/routes/api/components/response.vue
  app/src/modules/docs/routes/api/components/schema.vue
  app/src/modules/docs/routes/api/endpoints.vue
  app/src/modules/docs/routes/api/general.vue
  app/src/modules/docs/routes/docs.vue
  app/src/modules/settings/routes/data-model/field-detail/components/languages.vue
  app/src/styles/mixins/markdown.scss
  app/src/utils/copy-to-clipboard/copy-to-clipboard.ts
  app/src/utils/copy-to-clipboard/index.ts
  app/src/views/private/components/image-editor/image-editor.vue
  docs/concepts.md
  docs/guides/readme.md
  packages/spec/specs/components/activity.yaml
  packages/spec/specs/components/collection.yaml
  packages/spec/specs/components/field.yaml
  packages/spec/specs/components/file.yaml
  packages/spec/specs/components/folder.yaml
  packages/spec/specs/components/item.yaml
  packages/spec/specs/components/permissions.yaml
  packages/spec/specs/components/preset.yaml
  packages/spec/specs/components/relation.yaml
  packages/spec/specs/components/revision.yaml
  packages/spec/specs/components/role.yaml
  packages/spec/specs/components/setting.yaml
  packages/spec/specs/components/user.yaml
  packages/spec/specs/components/webhook.yaml
Labels: App, New Feature

#493 Reset scroll and support hash in docs
  app/src/composables/use-hash-scroll/hash-scroll.ts
  app/src/composables/use-hash-scroll/index.ts
  app/src/modules/docs/routes/markdown.vue
  app/src/utils/copy-to-clipboard/copy-to-clipboard.ts
  app/src/views/private/private-view.vue
Labels: App, Tweak

#568 Disable field when unselected in collection creation
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, Tweak

#583 fix view possibly being null
  app/src/modules/docs/routes/static.vue
Labels: App, Bug

#595 Remove background of svg
  app/src/assets/avatar-placeholder.svg
  app/src/displays/user/user.vue
Labels: App, Tweak

#606 one to many
  api/src/services/items.ts
  api/src/services/payload.ts
Labels: API, Tweak

#605 Fix keyCombination validation
  app/src/composables/use-shortcut/use-shortcut.ts
Labels: App, Bug

#584 Add displays for hidden fields
  api/src/database/seeds/03-fields/05-files.yaml
Labels: API, Tweak

#586 Add singleton option to collection creation
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: App, New Feature

#576 Add modified_on/_by to files
  api/src/database/seeds/01-tables/07-files.yaml
  api/src/database/seeds/03-fields/05-files.yaml
  app/src/lang/en-US/index.json
  app/src/modules/files/components/file-info-drawer-detail.vue
  app/src/modules/files/routes/detail.vue
Labels: API, App, New Feature

#505 Add support for modeling activeItems in v-list
  app/src/components/v-list/v-list-group.vue
  app/src/components/v-list/v-list-item.vue
  app/src/components/v-list/v-list.vue
  app/src/modules/docs/components/navigation-item.vue
  app/src/modules/docs/components/navigation.vue
  app/src/modules/docs/index.ts
  app/src/modules/docs/routes/not-found.vue
  app/src/modules/docs/routes/static.vue
  docs/index.d.ts
  docs/nav-app.yaml
Labels: App, New Feature

#601 Add dense prop to v-list-group
  app/src/components/v-list/v-list-group.vue
Labels: App, Tweak

#602 Fix corresponding field name not getting set in store
  app/src/modules/settings/routes/data-model/field-detail/components/relationship-m2o.vue
Labels: App, Bug

#585 Add unnamed custom collection grouping.
  api/src/database/seeds/03-fields/02-roles.yaml
  app/src/interfaces/repeater/repeater-row-header.vue
  app/src/interfaces/repeater/repeater-row.vue
  app/src/interfaces/repeater/repeater.vue
  app/src/modules/collections/components/navigation.vue
Labels: API, App, New Feature

#620 Fix docs navigation
  app/src/modules/docs/components/navigation.vue
  app/src/modules/docs/index.ts
  docs/build.js
Labels: App, Bug

#592 Add many-to-any relationship support to API
  api/src/database/run-ast.ts
  api/src/database/seeds/01-tables/10-relations.yaml
  api/src/database/seeds/02-rows/04-relations.yaml
  api/src/database/seeds/03-fields/12-relations.yaml
  api/src/services/authorization.ts
  api/src/services/collections.ts
  api/src/services/fields.ts
  api/src/services/graphql.ts
  api/src/services/index.ts
  api/src/services/payload.ts
  api/src/services/relations.ts
  api/src/services/specifications.ts
  api/src/types/ast.ts
  api/src/types/relation.ts
  api/src/utils/get-ast-from-query.ts
  api/src/utils/get-relation-type.ts
  app/src/components/v-list/v-list-group.vue
  app/src/components/v-list/v-list-item.vue
  app/src/components/v-list/v-list.vue
  app/src/composables/use-shortcut/use-shortcut.ts
  app/src/interfaces/repeater/repeater-row.vue
  app/src/interfaces/repeater/repeater.vue
  app/src/modules/collections/components/navigation.vue
  app/src/modules/docs/components/navigation-item.vue
  app/src/modules/docs/routes/not-found.vue
  app/src/modules/docs/routes/static.vue
  app/src/modules/files/routes/detail.vue
  app/src/modules/settings/routes/data-model/new-collection.vue
Labels: API, New Feature

#623 Convert Numeric Values of Environment Variables to Number
  api/src/env.ts
Labels: API, Bug, DB: SQL Server

#575 Fix opening repeater row when creating new one
  app/src/components/v-item-group/v-item.vue
  app/src/composables/groupable/groupable.ts
  app/src/interfaces/repeater/repeater-row.vue
  app/src/interfaces/repeater/repeater.vue
Labels: App, Bug

#619 Relational updates
  api/src/services/items.ts
  api/src/services/payload.ts
  api/src/utils/get-ast-from-query.ts
  app/package-lock.json
  app/src/interfaces/files/files.vue
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/many-to-many/use-actions.ts
  app/src/interfaces/many-to-many/use-edit.ts
  app/src/interfaces/many-to-many/use-preview.ts
  app/src/interfaces/many-to-many/use-relation.ts
  app/src/interfaces/many-to-many/use-selection.ts
  app/src/interfaces/one-to-many/one-to-many.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
Labels: App, Tweak

#672 Add deselect option to icon interface
  app/src/interfaces/icon/icon.vue
Labels: App, Tweak

#674 Organize code interface choices
  app/src/interfaces/code/index.ts
Labels: App, Tweak

#671 Improve related values display
  app/src/displays/related-values/index.ts
  app/src/displays/related-values/options.vue
  app/src/displays/types.ts
  app/src/modules/settings/routes/data-model/field-detail/components/display.vue
  app/src/modules/settings/routes/data-model/field-detail/store.ts
  app/src/types/fields.ts
Labels: App, Tweak

#600 Add 'close' event to v-dialog and v-modal
  app/src/components/v-dialog/v-dialog.vue
  app/src/components/v-form/form-field.vue
  app/src/components/v-modal/v-modal.vue
  app/src/components/v-upload/v-upload.vue
  app/src/interfaces/_system/tfa-setup/tfa-setup.vue
  app/src/interfaces/file/file.vue
  app/src/modules/activity/routes/item.vue
  app/src/modules/collections/components/navigation-bookmark.vue
  app/src/modules/collections/routes/collection.vue
  app/src/modules/collections/routes/item.vue
  app/src/modules/files/components/add-folder.vue
  app/src/modules/files/components/navigation-folder.vue
  app/src/modules/files/routes/add-new.vue
  app/src/modules/files/routes/collection.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/data-model/collections/components/collection-options.vue
  app/src/modules/settings/routes/data-model/field-detail/field-detail.vue
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  app/src/modules/settings/routes/data-model/fields/fields.vue
  app/src/modules/settings/routes/data-model/new-collection.vue
  app/src/modules/settings/routes/presets/collection/collection.vue
  app/src/modules/settings/routes/presets/item.vue
  app/src/modules/settings/routes/roles/add-new.vue
  app/src/modules/settings/routes/roles/item/components/permissions-overview.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/webhooks/collection.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/collection.vue
  app/src/modules/users/routes/item.vue
  app/src/views/private/components/bookmark-add/bookmark-add.vue
  app/src/views/private/components/bookmark-edit/bookmark-edit.vue
  app/src/views/private/components/comments-drawer-detail/comment-item-header.vue
  app/src/views/private/components/file-lightbox/file-lightbox.vue
  app/src/views/private/components/image-editor/image-editor.vue
  app/src/views/private/components/modal-collection/modal-collection.vue
  app/src/views/private/components/modal-item/modal-item.vue
  app/src/views/private/components/module-bar-avatar/module-bar-avatar.vue
  app/src/views/private/components/revisions-drawer-detail/revisions-modal.vue
Labels: App, Tweak

#660 Re-add support for junction fields
  api/src/extensions.ts
  app/src/interfaces/files/files.vue
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/many-to-many/use-actions.ts
  app/src/interfaces/many-to-many/use-edit.ts
  app/src/interfaces/many-to-many/use-preview.ts
  app/src/interfaces/many-to-many/use-relation.ts
  app/src/interfaces/many-to-many/use-selection.ts
Labels: API, Tweak

#683 Hide duplicate on relational fields
  app/package-lock.json
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
  package-lock.json
Labels: App, Tweak

#712 Add proper defaults for filters
  app/package-lock.json
  app/src/views/private/components/filter-sidebar-detail/filter-sidebar-detail.vue
  app/src/views/private/components/filter-sidebar-detail/get-available-operators-for-type.ts
Labels: App, Bug

#720 Clean up wysiwyg interface style
  app/src/interfaces/wysiwyg/tinymce-overrides.css
Labels: App, Tweak

#722 Add download query param to assets endpoint
  api/src/controllers/assets.ts
  app/src/modules/files/routes/item.vue
  packages/spec/specs/paths/assets/assets.yaml
Labels: API, New Feature

#730 Allow for relation to the same collection
  app/src/interfaces/many-to-many/use-relation.ts
Labels: App, Bug

#729 Handle case where collectionInfo.meta is null
  app/src/modules/collections/routes/item.vue
Labels: App, Bug

#734 Allow for custom formats
  app/src/displays/datetime/datetime.vue
  app/src/displays/datetime/index.ts
  app/src/lang/en-US/displays.json
  app/src/lang/en-US/index.json
Labels: App, New Feature

#735 Fix cloning of a field
  app/src/modules/settings/routes/data-model/fields/components/field-select.vue
Labels: App, Bug

#747 Fix repeater open on load and add name option
  app/src/interfaces/repeater/options.vue
  app/src/interfaces/repeater/repeater-row.vue
  app/src/interfaces/repeater/repeater.vue
Labels: App, Bug, New Feature

#731 Add user invitation
  app/src/components/v-field-template/field-list-item.vue
  app/src/lang/en-US/index.json
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/users/routes/collection.vue
  app/src/styles/mixins/form-grid.scss
  app/src/views/private/components/users-invite/index.ts
  app/src/views/private/components/users-invite/users-invite.vue
Labels: App, New Feature

#686 Add sorting to m2m and o2m
  app/src/interfaces/_system/field/field.vue
  app/src/interfaces/many-to-many/many-to-many.vue
  app/src/interfaces/many-to-many/options.vue
  app/src/interfaces/many-to-many/use-preview.ts
  app/src/interfaces/many-to-many/use-sort.ts
  app/src/interfaces/one-to-many/one-to-many.vue
  app/src/interfaces/one-to-many/options.vue
Labels: App, New Feature

#713 add ability to replace file
  app/src/components/v-upload/v-upload.vue
  app/src/composables/use-item/use-item.ts
  app/src/lang/en-US/index.json
  app/src/layouts/cards/cards.vue
  app/src/layouts/cards/components/card.vue
  app/src/modules/files/components/file-info-sidebar-detail.vue
  app/src/modules/files/components/replace-file.vue
  app/src/modules/files/routes/item.vue
  app/src/modules/settings/routes/roles/item/item.vue
  app/src/modules/settings/routes/webhooks/item.vue
  app/src/modules/users/routes/item.vue
  app/src/utils/is-allowed.ts
  app/src/utils/upload-file/upload-file.ts
  app/src/views/private/components/file-preview/file-preview.vue
Labels: App, New Feature

#762 Replace `replaceAll` with `replace`
  app/src/components/v-field-template/v-field-template.vue
  app/src/interfaces/tags/tags.vue
  app/src/modules/docs/components/markdown.vue
  app/src/modules/docs/index.ts
Labels: App, Optimization

#761 Fix nested information not loading
  app/src/interfaces/many-to-many/use-preview.ts
Labels: App, Bug

#773 Add localType to interfaces
  app/src/interfaces/file/index.ts
  app/src/interfaces/files/index.ts
  app/src/interfaces/image/index.ts
  app/src/interfaces/many-to-many/index.ts
  app/src/interfaces/many-to-one/index.ts
  app/src/interfaces/one-to-many/index.ts
  app/src/interfaces/types.ts
  app/src/modules/settings/routes/data-model/field-detail/store.ts
Labels: App, Improvement

#804 Fix incorrect login settings access
  app/src/views/public/public-view.vue
Labels: App, Bug
